.dm{
	background-color: #ffe6ee;
}
.nav_products{
	height: 40px;
	width: 100%;
	background-color: #ffe6ee;
	display: flex;
	align-items: center;
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px;
}
.left_nav{
	position: relative;
	width: 20%;
	height: 40px;
	vertical-align: middle;
}
.left_nav p{
	font-size: 18px;
	margin: 10px 0px;
}
.left_nav .fa-bars{
	padding-right: 10px;
	margin-left: 10px;
}
.right_nav{
	margin-left: 30px;
}
.right_nav i{
	margin-left: 15px;
}
.right_nav a{
	text-decoration: none;
	font-size: 12px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
}
.menu_nav{
	position: absolute;
	background-color: #fff;
	width:100%;
	top: 38px;
	display: none;
	left:0px;
}
.menu_main_products{
	position: relative;
	box-shadow: 2px 2px 2px 2px #cccccc;
}
.menu_nav >ul {
	list-style: none;
	padding-left: 0px;
	margin: 0px;
	font-size: 14px;	
}
.menu_nav >ul>li{
	padding-left: 20px;
	height: 50px;
	border-bottom: 1px solid #cccccc;
	line-height: 40px;
	vertical-align: middle;
}
.menu_nav >ul>li:hover{
	padding-left: 22px;
	transition: 0.5s all;
	background-color: #ffb366;
}
.menu_nav ul li a{
	text-decoration: none;
}
.menu_nav .main_menu .sub_menu{
	height: 30px;
}
.sub_menu_products{
	position: absolute;
	left: 235px;
	top: 0px;
	background-color: #fff;
	width: 100%;
	display: none;
	min-height: 350px;
	box-shadow: 2px 2px 2px 2px #cccccc;
}
.sub_menu_products li{
	font-size: 12px;
}
.menu_nav >ul>li:hover .sub_menu_products{
	display: block;
}
.left_nav:hover .menu_nav{
	display: block;
}
.sub_menu_products li:hover{
	color: #ffcc99;
	padding-left: 5px;
	transition: 0.5s all;
}
.banner_product{
	background-color: #fff;
}
.banner_product img{
	width: 100%;

}
.row{
	margin: 0px;
}
.left_nav .menu_main_products .fa-baby{
	padding-right: 10px;
}